#conteneur{
width: 960px;
background-color: palevioletred;
color: white;
margin: 0 auto;

}

header{
    background-color: tan;
height: 60px;
line-height : 60px;
text-align: center;

}

nav{
    background-color: gray;
    height: 30px;
    line-height : 30px;
    text-align: center;
}

section{
    background-color: gray;
    height: 500px;   
    margin: 10px;

}

.GZ{
border: 1px solid;
float: left;
height: 370px;  
width: 468px;
}

.Pz{
    
border: 1px solid;
float: left;
height: 122px;  
line-height: 122px;
text-align: center;
width:232px
}

.couleur1{

background-color: peachpuff ;
}

.couleur2{   
background-color: #7a9eb1 ; 
}

.couleur3{
background-color: #415865 ;   
}


.couleur4{

    background-color: #ffe1b3 ;

}


footer{}
