body{
    font-family: sans-serif;
    font-size: 1.5em;
}
.Left, .right{
    margin-top: 5em;
}
ul{/*sélectionne toutes les listes<ul>*/
    list-style: none;/*suppression des pouces listes*/
    float: left;/*effet flottant à gauche*/
    margin: 0;/*marges extérieures*/
    padding: 0;/*marges intérieures */
}
.Left ul{
    margin: 3.2em 0 0 0;
}
.Left ul li{/*tous les <li> de la liste <ul> ayant la class .Left*/
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    padding: 1em;
    width: 10em;
}
.Left ul li:first-child{/* premier <li> de la liste <ul> ayant la classe  .Left*/
    border-top: 1px solid #ccc;
    /* fin 1er colonne*/
}
ul.liste li{/*tous les li> de la liste <ul> ayant la classe  .change elle meme enfants de la class  .right*/
    border: 1px solid #ccc;
}
.right .change ul li{
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding: 1em;
    width: 10em;
    text-align: center;
}
.right .change ul li:first-child{/* premier <li> de la liste <ul> ayant la class .change, elle-meme enfant d'une classe .right*/
    background-color: #5D5D5D;
    color: #fff;
    font-weight: bold;/* style de la police: gras*/
}
.right .change ul li:last-child{
    border-bottom: 1px solid #ccc;
}
.right .change ul:hover{
 background: linear-gradient(#d5d5d5,#8a8a);/*dégradé de couleur*/
cursor: pointer; /*changementde l'affichage du curseur*/
transform: scale(1.4) echelde zoom;
transition-duration: 2sec;
}

.right .change ul:hover li:first-child{

    background-color: 1px solid #000;

}
.change:hover #premium
#b9f2ff;



